<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.example.androidq">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/> <!-- 全屏通知权限, 不用动态申请 -->
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT"/> <!-- 后台定位权限, 需要动态申请 -->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".storage.image.ImageActivity">
        </activity>
        <activity android:name=".storage.directorytree.FolderTreeActivity">
        </activity>
        <activity android:name=".storage.StorageMainActivity">
        </activity>
        <activity android:name=".storage.ScopedStorageActivity">
        </activity>
        <activity android:name=".permission.BackgroundLocationActivity">
        </activity>
        <activity android:name=".background.BackgroundStartActivity">
        </activity>
        <activity android:name=".deviceId.DeviceIdActivity">
        </activity>
        <activity android:name=".ScopedStorageActivity2">
        </activity>
        <activity android:name=".clipboard.ClipboardActivity">
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity> <!-- 指定应用的FileProvider -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.androidq.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>

        <service android:name=".background.ForegroundService"/> <!-- 高德定位sdk秘钥 -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="7e083d415cd8877867004f5411645130"/>

        <service
            android:name="com.amap.api.location.APSService"
            android:exported="false"/>
        <service
            android:name=".permission.LocationService"
            android:foregroundServiceType="location"/>
    </application>

</manifest>